body {
	font-family: 'Calibri', 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 20px;
}

/* buttons */
 .greenButton {
	border-radius: 5px;
	background-color: #0FA00F;
	color: black;
	border-left: black solid 1px;
	border-right: black solid 1px;
	border-top: black solid .1px;
	border-bottom: black solid 1px;
	font-weight: bold;	
	font-size: 16px;
	box-shadow: inset 0 0 2px 0 black;
}
.greenButton:hover {
	box-shadow: inset 0 1px 0 0 black, inset 0 1px 1px 0 black;
	background: linear-gradient(-45deg, black, #0FA00F, #0FA00F, black);
	color: black;
}
.greenButton:active {
	background: linear-gradient(-45deg, #0FA00F, black, #0FA00F);
	color: #0FA00F;
	box-shadow: inset 0 2px 0 0 black, inset 0 2px 2px 0 black;
}
.blackButton{
	background-color: black;
	color: #0FA00F;
	font-weight: bold;
	box-shadow: inset 0 0 2px 0 #0FA00F;
	text-align: center;	
}
.blackButton:hover {
	box-shadow: inset 0 1px 0 0 #0FA00F, inset 0 1px 1px 0 #0FA00F;
	background: linear-gradient(-45deg, black, #0FA00F, black);
}
.blackButton:active {
	background: linear-gradient(-45deg, #0FA00F, black, #0FA00F);
	color: #0FA00F;
	box-shadow: inset 0 2px 0 0 #0FA00F, inset 0 2px 2px 0 #0FA00F;
}
/* header */
header {
	background: linear-gradient(-45deg, black 35.55%, #0FA00F 58.85%, #0FA00F 65.5%, black 85.8%);
	position: fixed;
	max-width: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 0.5% 0 1% 0;
	height: 10%;
}
.headerLinks{
	position:fixed;
	margin: 4% 0 0 65%;
}
.headerLinks a {
	padding-left:1em;
	font-weight:bold;
}
#logo img {
	width: 15%;
	height: 100%;
	padding-left: 1%;
}
#infoWrapper {
	float: right;
	padding: 0 2% 0 0;
	text-align: right;
}



/* login */
#loginForm {
	padding: 0 1% 0.5% 0;
	float:right;
	color: white;
	margin-left: 30%;
}

#loginButton {
	width: 5em;
	display: inline-block;
	float: right;
	margin: 0.2em 0 0 0.5em;
}
#forgot{
	padding: 0 0 0 11%;
	margin: 0;
	display: inline-block;
}
#register {
	padding: 0 0 0 25%;
}


/* footer */
footer {
	clear: both;
	bottom: 0;
	position: fixed;
	max-width: 100%;
	width: 100%;
	left: 0;
	background-color: black;
}
#footer-wrapper p {
	color: black;
}
#footerLinks {
	padding: 0 1em 1em 1em;	
	float: right;
}
#footerLinks a, .headerLinks a {
	text-decoration: none;
}
#foot {
	color: white;
	padding: 0.5em 0 1em 2em;
}
/* general */
.button{
	background-color: #0FA00F;
	font: black;
	font-weight: bold;
	width: 6em;
	height: 2em;
}
.aWhite {
	color: white;
	padding-left: 1em;
}
.ablack {
	color: black;
}
section {
	top: 2.5em;
	margin-bottom: 4em;
	position: relative;
	clear: both;
}
input, select{
	border-radius: 10px;
	padding-left: 0.5em;
}
#txtSearch {
	width: 11em;
}
#btnSearchSubmit {
	width: 9em;
}
/* sidebar */
.sidebar{
	height: 28em;
	width: 15%;
	border: 1px solid black;
	background: linear-gradient(black, #0FA00F, #05630C, #0FA00F, black);
	margin: -1% 0 0 0;
}
#home {
	width: 70%;
	margin: 3.75% 0 0 0;	
}
#sidebarRight {
	float:right;
}
#sidebarLeft {
	float:left;
}
#leftContent, #rightContent {
	background-color:white;
	position:fixed;
	height: 27em;
	width: 11%;
	padding: 2% 1%;
	margin: 3% 1% 1% 1%;
}

.blendIn {
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.sidebarCentre {
	margin-left:20%
}
hr {
	margin: 0;
	border-top: 1px solid black;
}
a {
	color: #0FA00F;
	text-decoration:underline;
}
a:hover {
	cursor: pointer;
	color: #05630C;
}
button, select, input[type="submit"] {
	cursor: pointer;
}
.smallFont {
	font-size: 14px;
}

#rightContent img {
	margin: 1% 15%;
}
p {
	margin: 3% 0 0 0;
}